.event-card-container {
    display: flex;
    flex-direction: column;
    background-color: #e9d5ff;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .event-content {
    display: flex;
    align-items: center;
  }
  
  .event-details {
    flex: 1;
    text-align: left;
    margin-right: 16px;
  }
  
  .event-name {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .event-info {
    font-size: 16px;
    color: #666;
  }
  
  .event-price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .event-image-container {
    flex-shrink: 0;
  }
  
  .event-image {
    width: 400px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 1em;
  }
  
  .event-buttons {
    display: flex;
    gap: 8px;
    width: 100%;
    margin-top: 12px;
    justify-content: center;
  }
  
  .event-button-link,
  .event-button {
    background-color: #7c3aed;
    font-size: 20px;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: bold;
    text-align: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
    flex: 1;
  }
  